{% load static %} {% load bootstrap_icons %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resume</title>
    <link
      rel="stylesheet"
      href="{% static 'resume/css/bootstrap.min.css' %}"
      type="text/css"
    />
    <script
      src="{% static 'resume/js/bootstrap.bundle.min.js' %}"
      defer
    ></script>
  </head>
  <body>
    <header
      class="bg-secondary bg-gradient shadow-lg p-3 w-100 sticky-top"
      style="height: 70px;"
    >
      <div class="row">
        <div class="col-md-5 col-4">
          <button
            class="btn btn-outline-light d-sm-block d-md-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample"
          >
            {% md_icon 'menu' size='1.6rem' %}
          </button>
          {% include 'resume/navbar.html' %}
        </div>
        <div class="col">
          <img
            src="{% static 'resume/zuri.png' %}"
            alt="zuri"
            class="w-10 h-10"
          />
        </div>
      </div>
    </header>
    <main class="py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3 d-none d-md-block">
            {% include 'resume/navitem.html' %}
          </div>
          <div class="col" id="content">
            {% block content %} {% endblock %}
          </div>
        </div>
      </div>
    </main>
    <footer
      class="bg-secondary bg-gradient bg-opacity-50"
      style="height: 150px;"
    >
      <div
        class="d-flex flex-column align-items-center justify-content-center h-100 w-100"
      >
        <div class="d-flex">
          <button
            type="button"
            class="btn btn-light me-2 rounded-circle shadow-lg"
          >
            <a href="#" class="text-decoration-none text-secondary">
              {% md_icon 'facebook' size="1.6rem" %}
            </a>
          </button>
          <button class="btn btn-light me-2 rounded-circle shadow-lg">
            <a href="#" class="text-decoration-none text-secondary">
              {% md_icon 'instagram' size="1.6rem" %}
            </a>
          </button>
          <button class="btn btn-light me-2 rounded-circle shadow-lg">
            <a href="#" class="text-decoration-none text-secondary">
              {% md_icon 'twitter' size="1.6rem" %}
            </a>
          </button>
        </div>
        <p class="text-secondary mt-3 fw-bold">@Copyright EmperorDuke</p>
      </div>
    </footer>
  </body>
</html>
