{% extends "resume/base.html" %} {% load static %} {% load bootstrap_icons %}
{% block content %}
<div class="row gy-4">
  <div class="col-12">
    <div class="row">
      <div class="col-12 d-flex flex-md-row-reverse">
        <span class="fs-1 fw-bolder">Effiom Duke</span>
      </div>
      <div class="col-12 d-flex flex-md-row-reverse">
        <span class="fs-4 fw-bold">Software Engineer</span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <span class="fs-4 fw-bold">
      <div class="col-12 d-flex">
        <div class="pe-3">
          {% md_icon 'account-circle-outline' size='2rem' %}
        </div>
        Profile
      </div>
    </span>
    <div class="border border-dark w-100 my-2"></div>
    <p class="fw-6">
      {{ profile }}
    </p>
    <!-- ----- -->
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary rounded-pill shadow-lg"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <span class="d-flex align-items-center">
        <span class="d-flex align-items-center pe-3">
          {% md_icon 'account-tie' %}
        </span>
        HIRE ME
      </span>
    </button>

    <!-- Modal -->
    {% include 'resume/dialog.html' with id='staticBackdrop' %}
    <!-- ----- -->
  </div>
  <div class="col-12">
    <span class="fs-4 fw-bold">
      <div class="col-12">
        <span class="pe-2">
          {% md_icon 'face-agent' size='2rem' %}
        </span>
        Services
      </div>
    </span>
    <div class="border border-dark w-100 my-2"></div>
    <div class="row g-3 mt-2">
      {% for service in services %}
      <div class="col-12 col-md-6">
        <div class="w-100 p-2 border border-info rounded border-2 h-100 shadow-lg">
          <span class="text-dark fs-6 text-capitalize fw-bold">
            {{ service.title }}
          </span>
          <p class="col-12">
            {{ service.body }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-12 mt-3">
      <span class="fs-4 fw-bold">
        <div class="col-12">
          <span class="pe-2">
            {% md_icon 'book-outline' size='2rem' %}
          </span>
          Education
        </div>
      </span>
      <div class="border border-dark w-100 my-2"></div>
      <div class="row g-3 mt-2">
        {% for education in educations %}
        <div class="col-12 col-md-6">
          <div class="p-3 shadow-lg rounded border border-2 border-warning">
            <span class="d-block">{{education.year}}</span>
            <p class="fw-bold">
              {{ education.degree }}
            </p>
            <span>{{education.course}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-12 mt-3">
      <span class="fs-4 fw-bold">
        <div class="col-12">
          <span class="pe-2">
            {% md_icon 'head-cog-outline' size='2rem' %}
          </span>
          Skills
        </div>
      </span>
      <div class="border border-dark w-100 my-2"></div>
      <div class="row gy-4">
        {% for skill in skills %}
        <div class="col-6">
          <span class="fs-5">{{ skill.name }}</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width:{{skill.progress}}%"
              aria-valuenow="{{skill.progress}}"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ skill.progress }}%
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
