{% load static %} {% load bootstrap_icons %}

<div
  class="d-flex flex-column bg-dark bg-gradient py-4 text-light px-3"
  style="min-height: 100%"
>
  <div class="row gy-4">
    <div class="col-12 d-flex justify-content-center">
      <img
        src="{% static 'resume/duke.jpg' %}"
        alt="me"
        class="w-50 h-20 rounded-pill"
      />
    </div>

    <div class="col-12">
      <span class="text-capitalize fs-4">contact</span>
      <div class="border border-light w-100 my-2"></div>

      <div class="row gy-3">
        {% for contact in contacts %}
        <div class="col-12 d-flex">
          <div class="pe-3">
            {% md_icon contact.icon %}
          </div>
          {{ contact.value }}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-12">
      <span class="text-capitalize fs-4">Hobbies</span>
      <div class="border border-light w-100 my-2"></div>

      <div class="row g-3" id="hobbies-group">
        {% for hobby in hobbies %}
        <div class="col-6">
          <div
            class="d-flex flex-column align-items-center border border-light rounded w-100"
          >
            <div class="pb-1">
              {% md_icon hobby.icon %}
            </div>
            <span class="text-capitalize">{{ hobby.name}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-12">
      <div class="border border-light w-100 my-2"></div>

      <div class="row">
        <div class="col-6">
          <img
            src="{% static 'resume/HNG.jpg' %}"
            alt="zuri"
            class="w-50 h-60"
          />
        </div>

        <div class="col-6">
          <img
            src="{% static 'resume/HNG2.jpg' %}"
            alt="zuri"
            class="w-50 h-60"
          />
        </div>
      </div>
    </div>
  </div>
</div>
